.ratio {
  aspect-ratio: 1/1;
}

.float-end {
  float: right;
}

.float-start {
  float: left;
}

.center {
  text-align: center;
}

// col: 100%
.col-2 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  color: $border-color;
}

@keyframes rolate360 {
  to {
    transform: rotate(360deg);
  }
}

.rolate {
  animation: rolate360 10s linear infinite;
}

.scale:hover {
  transition: 1s;
  transform: scale(1.2);
  border-radius: 8px;
  // background-color: $hover-color;
}

.bg {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-title-color;
  i {
    display: none;
    font-size: 3em;
    cursor: pointer;
  }
}

.bg:hover {
  background-color: rgba(44, 27, 59, 0.737254902);
  color: $text-title-color;
  i {
    display: block;
  }
}

.mt-3 {
  margin-top: 3em;
}


.text-white {
  color: white;
}

.violet {
  color: $border-color;
}