//@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

$sidebar-color: #231b2e;
$hover-color: #423a4a;
$primary-color: #170f23;
$secondary-color: #33224e;
$border-color: #c273ed;
$text-color: #8b8892;
$text-title-color: #ffffff;
$text-sidebar-color: #dadada;
$background-yellow: #e2d007;
$background-gradient: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
$font-primary: "Inter", sans-serif;

* {
  font: 100% $font-primary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: $primary-color;
}
.container {
  padding-left: 250px;
  min-height: 100vh;
  width: 100%;
}

.line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
// ====== aside =====

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: $sidebar-color;

  .aside__logo {
    height: 50px;
    img {
      padding: 10px 100px 20px 30px;
      width: 100%;
      object-fit: cover;
    }
  }

  .aside__body {
    ul {
      list-style: none;
      padding-top: 10px;
      padding-bottom: 15px;

      li {
        display: flex;
        align-items: center;
        padding: 12px 30px;
        color: $text-sidebar-color;
        border-left: 5px solid $sidebar-color;
      }
      li:hover {
        border-left: 5px solid $border-color;
        background-color: $hover-color;
      }
      a {
        color: $text-sidebar-color;
        text-decoration: unset;
        font-weight: 400;
        font-size: 0.8em;
      }

      i {
        margin-right: 15px;
        // font-size: 1.2rem;
      }
    }

    .aside__line {
      margin: 0px 30px;
      border-bottom: 1px solid $hover-color;
    }

    .banner__update {
      display: flex;
      text-align: center;
      // height: 100px;
      margin: 10px 20px;
      background-image: $background-gradient;
      padding: 15px;
      border-radius: 8px;
      color: $text-title-color;
      font-size: 0.75em;
      line-height: 1.8em;
      flex-direction: column;
      justify-content: space-between;

      span {
        margin: 0 auto;
        margin-top: 15px;
        background-color: $background-yellow;
        padding: 7px;
        border-radius: 20px;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        width: 90%;
      }
    }
  }
}

// ========= header =============

.header {
  height: 70px;
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px;
  width: 100%;
  max-width: 1200px;
  padding: 0 60px;
  z-index: 100;
  min-width: 660px;

  &__left {
    i {
      color: $text-color;
      font-size: 1.3em;
      margin-right: 20px;
    }
  }

  &__search {
    position: relative;
    height: 40px;
    border-radius: 20px;
    background-color: $hover-color;
    width: 400px;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: $text-title-color;
      font-size: 1.2em;
    }

    &-wrap-input {
      position: absolute;
      left: 40px;
      top: 50%;
      width: 90%;
      transform: translateY(-50%);
      input {
        width: 95%;
        background-color: $hover-color;
        word-break: normal;
        background-clip: padding-box;
        border: 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        color: $text-title-color;
      }

      input:focus {
        outline: none;
      }
      input::placeholder {
        color: $text-title-color;
      }
    }
  }

  &__right {
    margin-left: 10px;
    display: flex;

    &-dowload {
      width: 200px;
      height: 40px;
      border-radius: 20px;
      background-color: $hover-color;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      justify-content: center;
      i,
      p {
        display: block;
        color: $border-color;
        font-weight: 600;
      }
      i {
        font-size: 1.2em;
        margin-right: 10px;
      }
      p {
        margin-top: 2px;
        font-size: 0.85em;
        font-weight: bold;
      }
    }

    &-premium,
    &-setting,
    &-avata {
      margin-left: 10px;
      background-color: $hover-color;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-title-color;
    }
  }
}

// =============== content =================

.content {
  padding: 70px 60px 0px 40px;
}

.home-page__slider {
  width: 100%;
  padding-top: 30px;

  .slider__items {
    .slider__item {
      width: 100%;
      padding: 0px 15px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}

.home-page__row {
  margin-top: 50px;
}

.album-list {
  &__title {
    color: $text-title-color;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

// ======== card ========

.album-list__item-small,
.album-list__item {
  padding: 5px 15px;
  img {
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  &-name {
    color: $text-title-color;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.6em;
  }
}

// card default

.album-list__item {
  width: 20%;

  &-singer {
    color: $text-color;
    margin-top: 5px;
    font-size: 0.8em;
  }
}
// card small
.album-list__item-small {
  width: 16.6666666667%;
}

// ============ song list ===========

.song-list {
  &__title {
    color: $text-title-color;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  &__item {
    width: 33.33333333%;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }

    &__content {
      padding-left: 10px;

      &-name {
        color: $text-title-color;
        font-size: 0.9em;
        line-height: 1.6;
      }

      &-singer,
      &-date {
        color: $text-color;
        font-size: 0.75em;
        line-height: 1.4;
      }
    }

    &-btn {
      margin-right: 20px;
      border-radius: 50%;
      // background-color: red;
      padding: 10px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
    }

    &-btn:hover {
      transition: 0.3s;
      color: $text-title-color;
      background-color: $text-color;
    }
  }

  &__item:hover {
    background-color: $hover-color;
    border-radius: 8px;
    transition: 0.3s;
  }
  &__item:hover .song-list__item-btn {
    color: $text-title-color;
  }
}
