* {
  font: 100% $font-primary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: $primary-color;
}
.container {
  padding-left: 250px;
  min-height: 100vh;
  width: 100%;
  @media #{$phone} {
    padding-left: 60px;
  }
  @media #{$tablet} {
    padding-left: 60px;
  }
}

.line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-primary {
  color: $text-title-color;
}
// ====== aside =====

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: $sidebar-color;

  @media #{$phone} {
    width: 60px;
  }
  @media #{$tablet} {
    width: 60px;
  }

  .aside__logo {
    height: 50px;

    @media #{$phone} {
      margin-bottom: 40px;
    }
    @media #{$tablet} {
      margin-bottom: 40px;
    }

    .logo {
      padding: 10px 100px 20px 30px;
      width: 100%;
      object-fit: cover;
      @media #{$tablet} {
        display: none;
      }
    }

    .logo-mini {
      padding: 10px 0px 0px 10px;
      width: 80%;
      object-fit: cover;
      background-color: transparent;
      @media #{$laptop} {
        display: none;
      }
    }
  }

  .aside__body {

    .active-aside {
      border-left: 5px solid $border-color;
      // background-color: $hover-color;
    }
    
    ul {
      list-style: none;
      padding-top: 10px;
      padding-bottom: 15px;

      li {
        display: flex;
        align-items: center;
        padding: 12px 30px;
        color: $text-sidebar-color;
        border-left: 5px solid $sidebar-color;

        @media #{$phone} {
          padding: 12px 15px;
        }
        @media #{$tablet} {
          padding: 12px 15px;
        }

        a {
          width: 100%;
          color: $text-sidebar-color;
          text-decoration: unset;
          font-weight: 400;
          
          @media #{$phone} {
            display: none;
          }
          @media #{$tablet} {
            display: none;
          }
        }

        p {
          display: inline;
          font-size: 0.9em;
        }
      }
      li:hover {
        border-left: 5px solid $border-color;
        background-color: $hover-color;
      }

      i {
        margin-right: 15px;
        // font-size: 1.2rem;
      }
    }

    .aside__line {
      margin: 0px 30px;
      border-bottom: 1px solid $hover-color;
    }

    .banner__update {
      display: flex;
      text-align: center;
      // height: 100px;
      margin: 10px 20px;
      background-image: $background-gradient;
      padding: 15px;
      border-radius: 8px;
      color: $text-title-color;
      font-size: 0.75em;
      line-height: 1.8em;
      flex-direction: column;
      justify-content: space-between;

      @media #{$phone} {
        display: none;
      }
      @media #{$tablet} {
        display: none;
      }

      span {
        margin: 0 auto;
        margin-top: 15px;
        background-color: $background-yellow;
        padding: 7px;
        border-radius: 20px;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        width: 90%;
      }
    }
  }
}

// ========= header =============

.header {
  height: 70px;
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px;
  width: 100%;
  max-width: 1200px;
  padding: 0 60px;
  z-index: 100;
  min-width: 660px;

  @media #{$phone} {
    left: 60px;
    padding: 10px 10px;
  }
  @media #{$tablet} {
    left: 60px;
    padding: 20px 20px;
  }

  &__left {
    i {
      color: $text-color;
      font-size: 1.3em;
      margin-right: 20px;
    }

    @media #{$phone} {
      display: none;
    }
    @media #{$tablet} {
    }
  }

  &__search {
    position: relative;
    height: 40px;
    border-radius: 20px;
    background-color: $hover-color;
    width: 400px;

    @media #{$phone} {
      width: 200px;
      overflow: hidden;
    }
    @media #{$tablet} {
      left: 60px;
      padding: 0 20px;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: $text-title-color;
      font-size: 1.2em;
    }

    &-wrap-input {
      position: absolute;
      left: 40px;
      top: 50%;
      width: 90%;
      transform: translateY(-50%);
      input {
        width: 95%;
        background-color: $hover-color;
        word-break: normal;
        background-clip: padding-box;
        border: 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        color: $text-title-color;

        @media #{$phone} {
          font-size: 12px;
        }
        @media #{$tablet} {
          font-size: 12px;
        }
      }

      input:focus {
        outline: none;
      }
      input::placeholder {
        color: $text-title-color;
      }
    }
  }

  &__right {
    margin-left: 10px;
    display: flex;

    &-dowload {
      width: 200px;
      height: 40px;
      border-radius: 20px;
      background-color: $hover-color;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      justify-content: center;
      @media #{$phone} {
        display: none;
      }
      @media #{$tablet} {
        display: none;
      }
      i,
      p {
        display: block;
        color: $border-color;
        font-weight: 600;
      }
      i {
        font-size: 1.2em;
        margin-right: 10px;
      }
      p {
        margin-top: 2px;
        font-size: 0.85em;
        font-weight: bold;
      }
    }

    &-premium,
    &-setting,
    &-avata {
      margin-left: 10px;
      background-color: $hover-color;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-title-color;
      @media #{$phone} {
        margin-left: 15px;
      }
      @media #{$tablet} {
        margin-left: 15px;
      }
    }

    &-premium {
      @media #{$phone} {
        display: none;
      }
      @media #{$tablet} {
        display: none;
      }
    }
  }
}

// =============== content =================

.content {
  padding: 70px 60px 0px 40px;
  @media #{$phone} {
    padding: 70px 5px 0px 5px;
  }
  @media #{$tablet} {
    padding: 70px 10px 0px 10px;
  }
}

.home-page__slider {
  width: 100%;
  padding-top: 30px;

  .slider__items {
    .slider__item {
      width: 100%;
      padding: 0px 15px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}
.home-page__slider-idol {
  .slider__items-idol {
    .slider__item-idol {
      width: 14.2857142857%;
      padding: 15px;

      // @media #{$phone} {
      //   width: 33.3333333%;
      // }
      // @media #{$tablet} {
      //   width: 25%;
      // }

      img {
        width: 100%;
      }
    }
  }
}

.slider__items-category {
  display: flex;
  padding-left: 0px 5px;
  flex-wrap: wrap;

  .slider__item-category {
    width: 33.33333333%;
    padding: 10px;

    @media #{$phone} {
      width: 100%;
    }
    @media #{$tablet} {
      width: 50%;
    }

    img {
      width: 100%;
      border-radius: 8px;
    }
  }
}

.home-page__row {
  margin-top: 50px;
}

.album-list {
  &__title {
    color: $text-title-color;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

// ======== card ========

.album-list__item-small,
.album-list__item {
  padding: 5px 15px;
  img {
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  &-name {
    color: $text-title-color;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.6em;
  }

  &-desciption {
    margin-top: 5px;
    color: $text-color;
    font-size: 0.8em;
    line-height: 1.6;
  }
  &:hover {
    background-color: $hover-color;
    border-radius: 5px;
    transition: 0.2s;
  }

  .album-list__item-img {
    position: relative;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bg-hover-color;
      display: none;
    }
    &:hover .album-list__item-img-bg {
      display: block;
    }
    &:hover .album__play-icon {
      display: block;
    }
  }
}

.album__play-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-title-color;
  font-size: 2.5rem;
  z-index: 1;
}

// card default

.album-list__item {
  width: 20%;

  @media #{$phone} {
    width: 50%;
  }
  @media #{$tablet} {
    width: 33.33333333%;
  }

  &-singer {
    color: $text-color;
    margin-top: 5px;
    font-size: 0.8em;
  }
}
// card small
.album-list__item-small {
  width: 16.6666666667%;

  @media #{$phone} {
    width: 50%;
  }
  @media #{$tablet} {
    width: 33.33333333%;
  }
}

// ============ song list ===========

.song-list {
  &__title {
    color: $text-title-color;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 15px;
    justify-content: space-between;

    &-content {
      display: flex;
    }

    &-right {
      color: $text-color;
      font-size: 0.8em;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      i {
        margin-left: 10px;
      }

      @media #{$phone} {
        margin-top: 20px;
      }
      @media #{$tablet} {
        margin-top: 5px;
      }
    }

    &-right:hover {
      color: $border-color;
      cursor: pointer;
    }

    &__tab {
      color: $text-title-color;
      font-size: 0.8em;
      font-weight: 300;
      margin-right: 20px;
      padding: 5px 25px;
      border: 1px solid $hover-color;
      border-radius: 20px;
      text-transform: uppercase;

      @media #{$phone} {
        font-size: 0.7em;
        padding: 5px 10px;
      }
      @media #{$tablet} {
      }
    }

    &__tab:hover {
      background-color: $border-color;
      cursor: pointer;
      transition: 0.3s;
    }

    .active {
      background-color: $border-color;
    }
  }

  &__items {
    margin-top: 20px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    @media #{$phone} {
      grid-template-columns: auto auto;
    }
    @media #{$tablet} {
      grid-template-columns: auto auto;
    }
  }

  &__item {
    // width: 33.33333333%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    @media #{$phone} {
      flex-wrap: wrap;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }

    &__content {
      padding-left: 10px;
      @media #{$phone} {
        padding: 0;
      }

      &-name {
        color: $text-title-color;
        font-size: 0.9em;
        line-height: 1.6;
      }

      &-singer,
      &-date {
        color: $text-color;
        font-size: 0.75em;
        line-height: 1.4;
      }
    }

    &-btn {
      margin-right: 20px;
      border-radius: 50%;
      // background-color: red;
      padding: 10px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
    }

    &-btn:hover {
      transition: 0.3s;
      color: $text-title-color;
      background-color: $text-color;
    }
  }

  &__item:hover {
    background-color: $hover-color;
    border-radius: 8px;
    transition: 0.3s;
  }
  &__item:hover .song-list__item-btn {
    color: $text-title-color;
  }
}

.footer {
  padding-left: 5px;
  padding-top: 50px;
  padding-bottom: 20px;

  &__title {
    color: $text-color;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 0.8em;
    font-weight: 600;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 25%;
      padding: 10px;

      @media #{$phone} {
        width: 50%;
      }
      @media #{$tablet} {
        width: 33.33333333%;
      }

      &-wrap {
        border-radius: 8px;
        background-color: $text-title-color;
        padding: 15px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
        }
      }
    }
  }

  &__bottom {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-left,
    &-right,
    &-mid {
      color: $text-color;
      font-size: 0.6em;
    }
  }
}

// ======== play music ===========

.img_running {
  border-radius: 50% !important;
}

@keyframes rolate360 {
  to {
    transform: rotate(360deg);
  }
}

.play-running-album-content {
  align-items: center;
}

.play-music {
  z-index: 1;
  background-color: $primary-color;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;

  .play {
    display: flex;
    justify-content: space-between;

    .album-info {
      @media #{$phone} {
        display: none;
      }
      @media #{$tablet} {
        display: none;
      }
    }

    .play-center {
      display: flex;
      flex-direction: column;
      @media #{$phone} {
        width: 100%;
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-func {
        margin: 5px 10px;
        border-radius: 50%;
        padding: 10px;
      }

      .btn-play {
        width: 60px;
        height: 60px;
        position: relative;
        // padding: 20px;

        .lni {
          position: absolute;
          font-size: 2em;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .btn-func:hover {
        background-color: $border-color;
      }
    }

    .timeline-group {
      margin-bottom: 10px;
      @media #{$phone} {
        display: flex;
      }
      @media #{$tablet} {
        //
      }
      .css-wpz5lw-Slider {
        width: 400px;
        margin: 0px 20px 3px 20px;

        @media #{$phone} {
          width: 100%;
        }
        @media #{$tablet} {
          //
        }
      }
      .css-100juk0 {
        background-color: white;
        border-radius: 50%;
      }
    }
  }

  .play-left {
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$phone} {
      display: none;
    }
    @media #{$tablet} {
      display: none;
    }
    font-size: 1.2rem;
    .lni {
      margin: 0px 10px;
    }
    .lni:hover {
      color: $border-color;
    }
  }


}


